.form__submit-button_type_login {
    margin-top: 173px;
    width: 260px;
    background-color: #fff;
    color: #000;
}
.form__submit-button_type_login:hover {
    background-color: #fff;
    color: #000;
}
@media screen and (min-width: 768px) {
    .form__submit-button_type_login {
        margin-top: 216px;
        width: 358px;
        height: 50px;
    }
    
}