@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link-container/header__link-container.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link-button/header__link-button.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__singin/register__singin.css);
@import url(./blocks/register/__singin-link/register__singin.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__cover/profile__cover.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__hover-avatar/profile__hover-avatar.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/groups/groups.css);
@import url(./blocks/groups/__elements/groups__elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__mask-group/element__mask-group.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like-count/element__like-count.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_for/popup_for_img.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__el-img/popup__el-img.css);
@import url(./blocks/popup/__el-caption/popup__el-caption.css);
@import url(./blocks/popup/__container/_for/popup__container_for_delete.css);
@import url(./blocks/popup/__container/_for/popup__container_for_infoToolltip.css);
@import url(./blocks/popup/__info/popup__info.css);
@import url(./blocks//popup/__icon/popup__icon.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/_type/form_type_login.css);
@import url(./blocks/form/_type/form_type_login.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_type/form__input_type_error.css);
@import url(./blocks/form/__input/_type/form__input_type_email.css);
@import url(./blocks/form/__input/_type/form__input_type_password.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/form/__submit-button/form__submit-button.css);
@import url(./blocks/form/__submit-button/_disabled/form__submit-button_disabled.css);
@import url(./blocks/form/__submit-button/_for/form__submit-button_for_delete.css);
@import url(./blocks/form/__submit-button/_type/form__submit-button_type_register.css);
@import url(./blocks/form/__submit-button/_type/form__submit-button_type_login.css);
@import url(./blocks/form/__placeholder/form__placeholder.css);
