.form__input_type_password {
    width: 260px;
    background-color: #000000;
    border-bottom: 2px solid #CCCCCC;
    margin: 57px auto 0 auto;
    color: #fff;
}
@media screen and (min-width: 768px) {
    .form__input_type_password {
        width: 358px;
        /* margin: 57px auto 0 auto; */
    }
}
