.register__title {
    width: 260px;
    font-family: 'Inter',Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
@media screen and (min-width: 768px) {
    .register__title {
        width: 358px;
        font-size: 24px;
        line-height: 29px;
    }

}